/*article*/
.article-content, 
.article-content p {
  font-size: 1.125rem;
  line-height: 1.5;
  word-break: break-word;
}
.article-content p {
  padding: 7px 0;
  margin: 0;
}
.article-content h2 {
  line-height: 1.25;
}
.article-content iframe {
  margin: 5px -1rem;
}
.article-content img {
  display: block;
  margin: 15px 0;
  max-width: 100%;
  max-height: 70vh;
}

.article-content ul {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.article-content blockquote:not(.twitter-tweet) {
  position: relative;
  margin: 12px 20px 15px;
  padding: 0 90px;
  font-weight: 500;
}
.article-content blockquote:not(.twitter-tweet):before {
  content: ",,";
  position: absolute;
  color: Gray;
  font: 700 80px/30px Times,sans-serif;
  top: -8px;
  left: 38px;
}

.article-cms blockquote.twitter-tweet {
  border-color: rgb(196, 207, 214);
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
}

@media screen and (min-width:60em) {
  .article-content {
    font-size: 1.25rem;
  }
  .article-content p {
    font-size: 1.25rem;
    padding: 15px 0;
  }
  .article-content iframe {
    margin: 10px 0;
  }
}