/*article*/
.article-content, 
.article-content p {
  font-size: 1.125rem;
  line-height: 1.5;
  word-break: break-word;
}
.article-content p {
  padding: 7px 0;
  margin: 0;
}
.article-content h2 {
  line-height: 1.25;
}
.article-content iframe {
  margin: 5px -1rem;
}

@media screen and (min-width:60em) {
  .article-content {
    font-size: 1.25rem;
  }
  .article-content p {
    font-size: 1.25rem;
    padding: 15px 0;
  }
  .article-content iframe {
    margin: 10px 0;
  }
}