/*article*/
.article-content, 
.article-content p {
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
}
.article-content p {
  padding: 7px 0;
  margin: 0;
}
.article-content p p {
  padding: 0;
}
.article-content *:not(.zajawka) a {
  color: rgb(80, 80, 80);
  text-decoration: underline;
}
.article-content *:not(.zajawka) a:hover {
  color: #000;
}
.article-content h2 {
  line-height: 1.25;
  word-break: break-word;
  padding: 22px 0 8px;
  font-size: 1.25rem;
  font-weight: 600;
}
.article-content h3 {
  line-height: 1.25;
  word-break: break-word;
  padding: 22px 0 8px;
  font-size: 1.25rem;
  font-weight: 400;
}
.article-content h4 {
  margin: 0;
  line-height: 1.25;
  word-break: break-word;
  padding: 22px 0 8px;
  font-size: 1.125rem;
  font-weight: 600;
}
.article-content ul, .article-content ol {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-inline-start: 20px;
}
.article-content iframe {
  margin: 5px -1rem;
}
.article-content img {
  display: block;
  margin: 15px auto;
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}

.article-content blockquote:not(.twitter-tweet) {
  position: relative;
  margin: 12px 20px 15px;
  padding: 0 90px;
  font-weight: 600;
}
.article-content blockquote:not(.twitter-tweet):before {
  content: ",,";
  position: absolute;
  color: Gray;
  font: 700 80px/30px Times,sans-serif;
  top: -8px;
  left: 38px;
}

@media screen and (min-width:60em) {
  .article-content {
    font-size: 1.125rem;
  }
  .article-content p {
    font-size: 1.125rem;
    padding: 15px 0;
  }
  .article-content h2 {
    padding: 25px 0 3px;
    font-size: 1.75rem;
  }
  .article-content h3 {
    padding: 25px 0 3px;
    font-size: 1.5rem;
  }
  .article-content h4 {
    padding: 25px 0 3px;
    font-size: 1.25rem;
  }
  .article-content iframe {
    margin: 10px 0;
  }
}