/*vuetify mod*/
.v-tab {
    text-transform: none;
}

.main-toolbar.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
}
.find-toolbar .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
    padding: 0;
}
.filter-toolbar .v-toolbar__content {
    padding-right: 0;
    padding-left: 0;
}
.filter-toolbar .v-select.state-select {
    max-width: 170px;
}
.filter-toolbar .v-select.user-select {
    max-width: 270px;
}
/**/
