/*VUETIFY*/
@media (min-width: 960px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1285px;
    }
}
@media (min-width: 1904px) {
    .container {
        max-width: 1440px;
    }
}

.container.container--fluid {
    max-width: none !important;
}

.v-tab {
    text-transform: none;
}

.main-toolbar.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
}
.find-toolbar .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
    padding: 0;
}
.find-toolbar .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
    background: #272727;
}

.filter-toolbar .v-toolbar__content {
    padding-right: 0;
    padding-left: 0;
}
.filter-toolbar .v-select.state-select {
    max-width: 170px;
}
.filter-toolbar .v-select.user-select {
    max-width: 270px;
}

/*table*/
.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: #242424;
}

.theme--dark .nobg-dark {
    background-color: transparent !important;
}
.theme--dark .nob-dark {
    border-color: transparent !important;
}

/*menu border*/
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: rgba(0, 0, 0, 0.12);
}




/*finder*/
.h-56 {
    height: 56px;
}
.h-64 {
    height: 64px;
}
.find-container {
    width: 100%;
    z-index: 10;
    box-shadow: none;
    transition: box-shadow .2s;
}
.find-container.sticked {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
}
.theme--dark .find-container.sticked {
    background-color: #272727;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
}
.find-container .container {
    padding: 0;
}
.find-container.sticked .container {
    padding-left: 12px;
    padding-right: 12px;
}
.find-toolbar {
    height: 56px;
}
.find-container.sticked .find-toolbar {
    height: 64px !important;
}
.find-container.sticked .v-sheet--outlined {
    border-color: transparent;
}