body {
    font-weight: 400;
}
/*VUETIFY*/
@media (min-width: 960px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1285px;
    }
}
@media (min-width: 1904px) {
    .container {
        max-width: 1440px;
    }
}

.container.container--fluid {
    max-width: none !important;
}

.v-tab {
    text-transform: none;
}
.v-list--dense .v-list-item .v-list-item__title {
    font-size: 1rem;
}

.main-toolbar.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
}
.find-toolbar .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
    padding: 0;
}
.find-toolbar .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
    background: #272727;
}

.filter-toolbar .v-toolbar__content {
    padding-right: 0;
    padding-left: 0;
}
.filter-toolbar .v-select.state-select {
    max-width: 190px;
}
.filter-toolbar .v-select.user-select {
    max-width: 270px;
}
.filter-toolbar .v-chip.v-size--default {
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    color: rgba(0, 0, 0, 0.6);
}
.theme--dark .filter-toolbar .v-chip.v-size--default {
    color: rgba(255, 255, 255, 0.7);
}
.filter-toolbar .v-chip.v-chip--outlined .v-icon {
    color: #1976d2;
}
.filter-toolbar .v-chip.v-chip--outlined.v-chip--active:before {
    opacity: 0;
}


/*table*/
.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: #242424;
}
.theme--dark .nobg-dark {
    background-color: transparent !important;
}
.theme--dark .nob-dark {
    border-color: transparent !important;
}
img.thu {
    display: block;
    max-height: 50px;
    border-radius: 3px;
    margin: 2px 0;
}
.state-0, .state-2 {
    color:rgba(0, 0, 0, 0.38);
}
.theme--dark .state-0, .theme--dark .state-2 {
    color:rgba(255, 255, 255, 0.34);
}

/*paginate*/
.paginate-bar.sticked {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgb(60 64 67 / 50%);
    justify-content: center;
    font-size: 1rem;
    border-color: transparent;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.theme--dark .paginate-bar.sticked {
    background-color: #272727;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 50%);
}
.paginate-bar .v-pagination__item, .paginate-bar .v-pagination__navigation {
    box-shadow: none;
    outline: none;
}
.paginate-bar .theme--dark.v-pagination .v-pagination__item, .paginate-bar .theme--dark.v-pagination .v-pagination__navigation {
    background: transparent;
}


/*menu border*/
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: rgba(0, 0, 0, 0.12);
}


/*finder*/
.h-56 {
    height: 56px;
}
.h-64 {
    height: 64px;
}
.find-container {
    width: 100%;
    z-index: 10;
    box-shadow: none;
    transition: box-shadow .2s;
}
.find-container.sticked {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgb(60 64 67 / 30%);
}
.theme--dark .find-container.sticked {
    background-color: #272727;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 30%);
}
.find-container .container {
    padding: 0;
}
.find-container.sticked .container {
    padding-left: 12px;
    padding-right: 12px;
}
.find-toolbar {
    height: 56px;
}
.find-container.sticked .find-toolbar {
    height: 64px !important;
}
.find-container.sticked .v-sheet--outlined {
    border-color: transparent;
}
.find-toolbar .v-input--is-label-active .v-icon--link,
.find-toolbar .v-input.v-input--is-label-active .v-select__selections,
.find-toolbar .v-input.v-input--is-label-active input  {
    color: #1976d2;
    font-weight: 500;
}

/*edit*/
.absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.ed {
    position: relative;
}
.ed:before, .ed:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.12);
}
.ed:before {
    left: 65px;
}
.ed:after {
    right: -35px;
}
.theme--dark .ed:before, .theme--dark .ed:after {
    background-color: rgba(255, 255, 255, 0.12);
}

.drv-right-shadow {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.drv-right-shadow .v-navigation-drawer__border {
    display: none !important;
}
.ed-drawer label {
    display: block;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: 700;
}
.v-chip.v-size--default.medium {
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
}

.ed .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgba(0, 0, 0, 0.12);
}
.ed .theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgba(255, 255, 255, 0.24);
}
.bb, .transparent.bb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.theme--dark .bb, .theme--dark .transparent.bb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24) !important;
}

.v-btn.v-size--default.medium {
    border-radius: 20px;
    height: 40px;
}
.sticked-top {
    position: sticky !important;
    top: 0;
}
.abort-btn {
    position: fixed;
    top: 1rem;
    margin-left: -0.5rem;
    background-color: #fff;
    z-index: 5;
}
.theme--dark .abort-btn {
    background-color: rgb(18, 18, 18);
}

.media-placeholder {
    /*border: 1px solid transparent !important;
    transition: border-color 0.2s;*/
    background-color: rgba(0,0,0,0.12) !important;
    position: relative;
}
.theme--dark .media-placeholder {
    background-color: rgba(255,255,255,0.12) !important;
}
.image-placeholder:before {
    font-family: "Material Icons";
    font-feature-settings: "Liga";
    content: 'image';
    position: absolute;
    top: 50%;
    margin-top: -32px;
    right: 50%;
    margin-right: -32px; 
    font-size: 64px;
    color: rgba(0,0,0,0.12);
}
.video-placeholder:before {
    font-family: "Material Icons";
    font-feature-settings: "Liga";
    content: 'slideshow';
    position: absolute;
    top: 50%;
    margin-top: -32px;
    right: 50%;
    margin-right: -32px; 
    font-size: 64px;
    color: rgba(0,0,0,0.12);
}
.theme--dark .image-placeholder:before, .theme--dark .video-placeholder:before {
    color: rgba(255, 255, 255, 0.24);
}
.mce-edit-focus {
    outline: 0 !important;
    border: none;
}

.editor-wrap {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    position: relative;
    padding-bottom: 0;
}
.theme--dark .editor-wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
/*.editor-wrap.focused {
    
}*/
.editor-content {
    transition: min-height 0.25s, padding-bottom 0.25s;
    min-height: 0;
    outline: none;
}
.editor-wrap.focused .editor-content {
    min-height: 140px;
    padding-bottom: 40px;
}
.mce-content-body:not([dir=rtl])[data-mce-placeholder]:not(.mce-visualblocks)::before {
    left: 1px;
    top: 14px;
}